<?xml version="1.0"?>
<config>
    <modules>
        <PetCare_Reservation>
            <version>0.1.0</version>    <!-- Version number of your module -->
        </PetCare_Reservation>
    </modules>
    <frontend>
        <routers>
            <reservation>
                <use>standard</use>
                <args>
                    <module>PetCare_Reservation</module>
                    <frontName>reservation</frontName>
                </args>
            </reservation>
            <checkout>
                <args>
                    <modules>
                        <PetCare_Reservation before="Mage_Checkout">PetCare_Reservation</PetCare_Reservation>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
    <global>
        <models>
            <reservation>
                <class>PetCare_Reservation_Model</class>
                <resourceModel>reservation_resource</resourceModel>
            </reservation>
            <reservation_resource>
                <class>PetCare_Reservation_Model_Resource</class>
                <entities>
                    <reservation>
                        <table>petcare_reservations</table>
                    </reservation>
                </entities>
            </reservation_resource>
        </models>
        <resources>
            <reservation_setup>
                <setup>
                    <module>PetCare_Reservation</module>
                    <class>PetCare_Reservation_Model_Resource_Setup</class>
                </setup>
            </reservation_setup>
        </resources>
    </global>

</config>
